@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700;800&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Girassol&family=Poppins:wght@200;300;500;600;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

.about {
    background: url('/hero.jpg'), linear-gradient(to right, #c5c490, #020101, #744d2b);
    background-position: center;
    background-blend-mode: multiply;
    background-size: cover;
    background-attachment: fixed;
}

.about_title {
    font-family: 'Girassol', sans-serif;
}