@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700;800&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Girassol&family=Poppins:wght@200;300;500;600;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

.about_h_home {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}

.about_welcome {
    font-family: 'Girassol family';
    font-size: 2.5em;
    font-weight: 600;
    line-height: 1em;
}

.about_p {
    font-family: 'Girassol family';
}

.about_signature {
    font-size: 2em;
    font-family: 'Great Vibes', sans-serif;
}

.call {
    background: #0F2027;
    width: 100%;
    height: auto;
}

/* why choose us section */
.choose_us {
    background: #0F2027;
    width: 100%;
    height: auto;
}