.contact {
    background: url(/hero.jpg), linear-gradient(to right, #393929, #cb8547) center no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-size: cover;
}