.contact {
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-size: cover;
}