@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Girassol&family=Poppins:wght@200;300;500;600;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700;800&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
}

/* START: General styles */
.max-width {
    @apply max-w-[1440px] mx-auto;
}

.padding-x {
    @apply sm:px-16 px-6;
}

.padding-y {
    @apply py-4;
}

.flex-center {
    @apply flex items-center justify-center;
}

.flex-between {
    @apply flex justify-between items-center;
}

.custom-btn {
    @apply flex flex-row relative justify-center items-center py-3 px-6 outline-none;
}

.color-text {
    color: #cb8547;
}

.color-andego {
    color: #020101
}

.color-light {
    color: #ffffff;
}

/* END: General styles */
/* custom configs */
section {
    padding: 3.9rem 0;
}

.section-padding-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.section-padding-100-0 {
    padding-top: 100px;
    padding-bottom: 0;
}

.section-padding-0-100 {
    padding-top: 0;
    padding-bottom: 100px;
}

.section-padding-100-70 {
    padding-top: 100px;
    padding-bottom: 70px;
}

/* Custom CSS for a Bootstrap-like container */

/* Container Styles */
.custom_container {
    width: 90%;
    /* Adjust the width as needed */
    max-width: 1200px;
    /* Adjust the max-width as needed */
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

/* Optional: Add responsive padding or other styles */
@media (min-width: 576px) {
    .custom_container {
        max-width: 100%;
    }
}

/* Optional: Customize container styles further for different breakpoints */
@media (min-width: 768px) {
    .custom_container {
        max-width: 100%;
    }
}

@media (min-width: 992px) {
    .custom_container {
        max-width: 90%;
    }
}

@media (min-width: 1200px) {
    .custom_container {
        max-width: 70%;
    }
}

/* end custom configs */

/* END: search manufacturer styles */
/* Navbar */
.bg-custom {
    background: #f0f1f0;
}

.bg-cont {
    background: #cb8547;
}

.btn-andego {
    background: #cb8547;
}

.andego_span {
    font-family: "Nunito", sans-serif;
    text-transform: uppercase;
}

.navbg {
    background: #c5c490;
}

.andego a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 700;
}

.andego a:hover {
    text-decoration: none;
}

.contact {
    background: url(/hero.jpg), linear-gradient(to right, #393929, #cb8547) center no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-size: cover;
}

.contact_info {
    color: #fff;
    font-family: "Manrope", sans-serif;
    font-weight: 900;
    text-align: center;
}

.contact_info .contact_number {
    color: coral;
    font-weight: 800;
}

/* our team names */
.teamName {
    font-family: 'Girassol';
}

.prof-name {
    font-family: 'Girassol';
    line-height: 0;
}

.prof-title {
    line-height: 0.5;
}

.bg-special {
    width: 100%;
    background: url(/nairobi1.jpg), linear-gradient(to right, #393929, #000000c0) center no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-size: cover;

}

.bg-svg {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1116%26quot%3b)' fill='none'%3e%3cuse xlink:href='%23SvgjsSymbol1123' x='0' y='0'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1123' x='720' y='0'%3e%3c/use%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1116'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpath d='M-1 0 a1 1 0 1 0 2 0 a1 1 0 1 0 -2 0z' id='SvgjsPath1118'%3e%3c/path%3e%3cpath d='M-3 0 a3 3 0 1 0 6 0 a3 3 0 1 0 -6 0z' id='SvgjsPath1117'%3e%3c/path%3e%3cpath d='M-5 0 a5 5 0 1 0 10 0 a5 5 0 1 0 -10 0z' id='SvgjsPath1120'%3e%3c/path%3e%3cpath d='M2 -2 L-2 2z' id='SvgjsPath1121'%3e%3c/path%3e%3cpath d='M6 -6 L-6 6z' id='SvgjsPath1119'%3e%3c/path%3e%3cpath d='M30 -30 L-30 30z' id='SvgjsPath1122'%3e%3c/path%3e%3c/defs%3e%3csymbol id='SvgjsSymbol1123'%3e%3cuse xlink:href='%23SvgjsPath1117' x='30' y='30' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1118' x='30' y='90' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='30' y='150' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='30' y='210' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1120' x='30' y='270' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1118' x='30' y='330' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1121' x='30' y='390' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1121' x='30' y='450' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1120' x='30' y='510' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1118' x='30' y='570' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='90' y='30' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1117' x='90' y='90' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1117' x='90' y='150' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='90' y='210' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1118' x='90' y='270' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1121' x='90' y='330' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='90' y='390' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='90' y='450' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1120' x='90' y='510' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1120' x='90' y='570' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1118' x='150' y='30' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='150' y='90' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1120' x='150' y='150' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='150' y='210' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1121' x='150' y='270' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1117' x='150' y='330' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='150' y='390' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1121' x='150' y='450' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1120' x='150' y='510' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='150' y='570' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1121' x='210' y='30' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='210' y='90' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1121' x='210' y='150' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1118' x='210' y='210' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1120' x='210' y='270' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1122' x='210' y='330' stroke='rgba(255%2c 218%2c 187%2c 0.48)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='210' y='390' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1120' x='210' y='450' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='210' y='510' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1118' x='210' y='570' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1117' x='270' y='30' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1120' x='270' y='90' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1120' x='270' y='150' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1121' x='270' y='210' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1120' x='270' y='270' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1120' x='270' y='330' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1121' x='270' y='390' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1120' x='270' y='450' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1117' x='270' y='510' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1120' x='270' y='570' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='330' y='30' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1121' x='330' y='90' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='330' y='150' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1117' x='330' y='210' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1120' x='330' y='270' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1120' x='330' y='330' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1117' x='330' y='390' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1121' x='330' y='450' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1117' x='330' y='510' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='330' y='570' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='390' y='30' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='390' y='90' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1120' x='390' y='150' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1118' x='390' y='210' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1120' x='390' y='270' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1122' x='390' y='330' stroke='rgba(255%2c 218%2c 187%2c 0.48)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1121' x='390' y='390' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1117' x='390' y='450' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1120' x='390' y='510' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1117' x='390' y='570' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1118' x='450' y='30' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='450' y='90' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='450' y='150' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='450' y='210' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1122' x='450' y='270' stroke='rgba(255%2c 218%2c 187%2c 0.48)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1120' x='450' y='330' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1121' x='450' y='390' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1121' x='450' y='450' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='450' y='510' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='450' y='570' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1120' x='510' y='30' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='510' y='90' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='510' y='150' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1120' x='510' y='210' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1120' x='510' y='270' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1120' x='510' y='330' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1121' x='510' y='390' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1120' x='510' y='450' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1120' x='510' y='510' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1121' x='510' y='570' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1117' x='570' y='30' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='570' y='90' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1121' x='570' y='150' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1120' x='570' y='210' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1121' x='570' y='270' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1120' x='570' y='330' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1120' x='570' y='390' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1120' x='570' y='450' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='570' y='510' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='570' y='570' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1117' x='630' y='30' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1118' x='630' y='90' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1118' x='630' y='150' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='630' y='210' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='630' y='270' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='630' y='330' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1121' x='630' y='390' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='630' y='450' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1122' x='630' y='510' stroke='rgba(255%2c 218%2c 187%2c 0.48)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='630' y='570' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1121' x='690' y='30' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='690' y='90' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1117' x='690' y='150' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1122' x='690' y='210' stroke='rgba(255%2c 218%2c 187%2c 0.48)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1120' x='690' y='270' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='690' y='330' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1121' x='690' y='390' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1121' x='690' y='450' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1117' x='690' y='510' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='690' y='570' stroke='rgba(255%2c 218%2c 187%2c 0.48)'%3e%3c/use%3e%3c/symbol%3e%3c/svg%3e");
}

/* Hero styling */
.hero {
    background: url(/nairobi1.jpg), linear-gradient(to right, #393929, #00000022) center no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    position: relative;
    background-attachment: fixed;
}


@media (max-width: 768px) {
    .hero {
        background: url(/nairobi1.jpg), linear-gradient(to right, #393929, #00000096) center no-repeat;
        background-position: center;
        background-repeat: no-repeat;
        background-blend-mode: multiply;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        justify-items: center;
        position: relative;
        background-attachment: fixed;
    }
}

/* Maintenance */
.body {
    width: 100%;
    height: 100vh;
    background: #cb8547;
}

.heading {
    font-family: 'Nunito', sans-serif;
}

/* cards */
.cards_hero {
    background: #cb8547;

}


.cards_h2 {
    color: white;
    font-weight: 900;
}


/* ABOUT  */
.about_h_home {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}

.about_welcome {
    font-family: 'Montserrat';
    line-height: 2em;
}

.about_p {
    font-family: 'Girassol family';
}

.about_signature {
    font-size: 2em;
    font-family: 'Great Vibes', sans-serif;
}

.call {
    background: url('/andego/group.jpg'), linear-gradient(to bottom, #c5a790, #534444);
    background-position: center;
    background-blend-mode: multiply;
    background-size: cover;
    background-attachment: fixed;
}

/* why choose us section */
.choose_us {
    background: #cb8547;
    width: 100%;
    height: auto;
}

/* appointment section */
.appoint_box {
    background: #cb8547;
    height: auto;
}

.book_title {
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
}

/* about */
.about {
    background: url('/andego/group.jpg'), linear-gradient(to right, #c5c490, #020101, #cb8547);
    background-position: center;
    background-blend-mode: multiply;
    background-size: cover;
    background-attachment: fixed;
}

.about_title {
    font-family: 'Girassol', sans-serif;
}

/* other */
.practice_areas {
    background: #cb8547;
    height: auto;
    width: auto;
}

.features {
    background: #cb8547;
    height: auto;
    width: auto;
}

.cards_services {
    background: #c5c490;
    height: auto;
    width: auto;
    box-shadow: rgb(30, 59, 90) 0px 20px 30px -10px;
}

.services_title {
    color: white;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

.services_what {
    font-size: 1.5em;
    font-weight: 400;
}

.services_what::before {
    content: '__';
    font-weight: bold;
    margin-right: 1em;

}

.services_what::after {
    content: '__';
    font-weight: bold;
    margin-left: 1em;
}

.practice_h2 {
    color: white;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5em;

}

.about_button {
    font-family: 'Nunito', sans-serif;
    align-items: center;
    background-image: linear-gradient(144deg, #ffffff, #ffffff 50%, #c5c490);
    border: 0;
    border-radius: 18px;
    box-shadow: rgba(4, 213, 255, 0.461) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    line-height: 1em;
    max-width: 20%;
    min-width: 140px;
    padding: 19px 24px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
}

.about_button:active,
.about_button:hover {
    outline: 0;
    text-decoration: none;
    color: white;
}

@media (max-width: 640px) {
    .about_button {
        font-size: 14px;
        min-width: 180px;
    }
}