<div className="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
    <div className="mx-auto mb-10 lg:max-w-xl sm:text-center">
        <p className="inline-block px-3 py-px mb-4 text-4xl font-black tracking-wide text-teal-950  uppercase">
            Discover Our Team
        </p>
    </div>
    <div className="grid gap-10 mx-auto sm:grid-cols-2 lg:grid-cols-3 lg:max-w-screen-lg">
        <div>
            <div className="relative pb-56 mb-4 rounded shadow lg:pb-64">
                <img className="absolute object-cover w-full h-full rounded"
                    src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=3&amp;h=750&amp;w=1260"
                    alt="Person" />
            </div>
            <div className="flex flex-col sm:text-center">
                <p className="text-lg font-bold">Kevin Andego</p>
                <p className="mb-5 text-xs text-gray-800">Managing Director</p>
            </div>
        </div>
        <div>
            <div className="relative pb-56 mb-4 rounded shadow lg:pb-64">
                <img className="absolute object-cover w-full h-full rounded"
                    src="https://images.pexels.com/photos/2381069/pexels-photo-2381069.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;h=750&amp;w=1260"
                    alt="Person" />
            </div>
            <div className="flex flex-col sm:text-center">
                <p className="text-lg font-bold">Patrick Kimani</p>
                <p className="mb-5 text-xs text-gray-800">Partner</p>
            </div>
        </div>
        <div>
            <div className="relative pb-56 mb-4 rounded shadow lg:pb-64">
                <img className="absolute object-cover w-full h-full rounded"
                    src="https://images.pexels.com/photos/3747435/pexels-photo-3747435.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;h=750&amp;w=1260"
                    alt="Person" />
            </div>
            <div className="flex flex-col sm:text-center">
                <p className="text-lg font-bold">Kevin Lugano</p>
                <p className="mb-5 text-xs text-gray-800">Associate</p>
            </div>
        </div>
        <div>
            <div className="relative pb-56 mb-4 rounded shadow lg:pb-64">
                <img className="absolute object-cover w-full h-full rounded"
                    src="https://images.pexels.com/photos/3931603/pexels-photo-3931603.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;h=750&amp;w=1260"
                    alt="Person" />
            </div>
            <div className="flex flex-col sm:text-center">
                <p className="text-lg font-bold">Paul Tirop</p>
                <p className="mb-5 text-xs text-gray-800">Associate</p>
            </div>
        </div>
        <div>
            <div className="relative pb-56 mb-4 rounded shadow lg:pb-64">
                <img className="absolute object-cover w-full h-full rounded"
                    src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=3&amp;h=750&amp;w=1260"
                    alt="Person" />
            </div>
            <div className="flex flex-col sm:text-center">
                <p className="text-lg font-bold">Gloria Mwanzia</p>
                <p className="mb-5 text-xs text-gray-800">Office Administrator</p>
            </div>
        </div>
        <div>
            <div className="relative pb-56 mb-4 rounded shadow lg:pb-64">
                <img className="absolute object-cover w-full h-full rounded"
                    src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=3&amp;h=750&amp;w=1260"
                    alt="Person" />
            </div>
            <div className="flex flex-col sm:text-center">
                <p className="text-lg font-bold">Michael Tendwa</p>
                <p className="mb-5 text-xs text-gray-800">Associate</p>
            </div>
        </div>
        <div>
            <div className="relative pb-56 mb-4 rounded shadow lg:pb-64">
                <img className="absolute object-cover w-full h-full rounded"
                    src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=3&amp;h=750&amp;w=1260"
                    alt="Person" />
            </div>
            <div className="flex flex-col sm:text-center">
                <p className="text-lg font-bold">Ben Opalo</p>
                <p className="mb-5 text-xs text-gray-800">
                    Consultant Business Development & Strategy
                </p>
            </div>
        </div>
        <div>
            <div className="relative pb-56 mb-4 rounded shadow lg:pb-64">
                <img className="absolute object-cover w-full h-full rounded"
                    src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=3&amp;h=750&amp;w=1260"
                    alt="Person" />
            </div>
            <div className="flex flex-col sm:text-center">
                <p className="text-lg font-bold">Daniel Kobimbo</p>
                <p className="mb-5 text-xs text-gray-800">Consultant</p>
            </div>
        </div>
        <div>
            <div className="relative pb-56 mb-4 rounded shadow lg:pb-64">
                <img className="absolute object-cover w-full h-full rounded"
                    src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=3&amp;h=750&amp;w=1260"
                    alt="Person" />
            </div>
            <div className="flex flex-col sm:text-center">
                <p className="text-lg font-bold">Leah Wanjohi</p>
                <p className="mb-5 text-xs text-gray-800">Intern</p>
            </div>
        </div>
    </div>
</div>